extends ./layout/index

block slider
    .slider
        h1 Río de Janeiro
        em aventura

block contenido 
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur dolorem possimus expedita aut minima, corporis repellat, ullam dolore eius, ut soluta nesciunt? Soluta saepe, ex perferendis tenetur consectetur vel error.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur reprehenderit ratione expedita magnam sint eos neque nisi maxime, ex obcaecati ad repellat, doloribus ullam quis eius placeat, tempore odit distinctio.

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes
    
    .descuento 
        .container 
            .col-md-6 
                .contenido 
                    h3 5% de Descuento 
                    p.titulo Viaje a Canada 
                    p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                    P.precio $2500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales.pug